.section {
  width: 70%;
  padding: 1em;
}

.section__input {
  border: 1px solid #b8b8b8;
  padding: 2em;
  border-radius: 12px;
  margin: 1em;
}

.section__list {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.input-group-text {
  background-color: #00a8b8;
  border: none;
}
